html{ scroll-behavior: smooth;}
*{  
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}

body{
    background-image: url("fondo.webp");
    background-repeat:no-repeat ;
    background-attachment: fixed;
    font-family: 'agdasima',sans-serif;
    font-size: 20;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
   
}
section div{
    display: inline-block;   
    padding: 1%;
}

nav{
    font-weight: bold;
}

nav div{
    display: inline-block;
    padding: 1%;
 
}

nav ul{
  
    display: flex;
 
    margin-left: 3%;
}
nav ul li{
    background-color:burlywood;
    display:flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1.2rem;
    padding-right: 2rem;
    text-transform: uppercase;
}

nav  ul li a:hover{
 
    text-decoration: underline;
    font-weight: 800;
}
nav ul li ul{
    display:none;
    position: absolute;
    min-width: 170px;
    list-style: none;
    margin-top: 1.7rem;
 
}
nav li:hover ul {
    display:block;
 
}
nav ul li ul li:hover{
    background-color:rgb(240, 177, 95);
}

a{
    text-decoration: none;
    color: black;
}
header {
   
   
	padding-right: 7%;
	
	padding-left: 7%;
	display: flex;
    align-items: center;
	justify-content: space-between;
    font-family:'Grenze Gotisch',sans-serif;
    color: black;
    background-color:burlywood;

}
article{
    margin-left: 8%;
    margin-right: 8%;
    background-color:rgb(255, 255, 255);
}
h1{
    font-family:'Grenze Gotisch',sans-serif;
    color: black;
    text-align:center;
    font-weight: bold;
    font-size: 28;
    margin-left: 8%;
    margin-right: 8%;

    background-color: rgb(255, 255, 255);

}
h2{
    font-family:'Grenze Gotisch',sans-serif;
    background-color: white;
  
}
.izq{
    margin-bottom: 0.9%;
    padding-left: 1%;
    padding-right: 3%;
    justify-content: left;
}
.der{
    text-align: right;
    padding-left: 3%;
    padding-right: 1%;
    justify-content: right;
}
section{
    justify-content: center;
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 1%;
    
    
}
.centro{
    padding-bottom: 2%;
    padding-top: 1%;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
}
footer{
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1.5%;
    display: flex;
    background-color:rgb(0, 34, 3);
    justify-content: right;
    align-items: center;
    color: white;
    margin-top: 2%;
}


footer  p {
    font-size: 0.8rem;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    display: inline-block;
}


footer a{
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
}




.grilla{
    justify-content: center;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    background-color: white;
    padding: 3%;
    padding-bottom: 0;
   
    
    
}

.carnet:hover{
    background-color: rgb(240, 177, 95);
    transform: scale(1.15);
    cursor: pointer;
}

.carnet{
    padding: 1%;

    
}
.bloque{
    display: inline-block;
    width: 25%;
    padding-top: 50px;

    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

.descripcion{
   
    justify-content: right;
 
    padding-left: 2%;
    display: inline-block;
    width: 72%;
    font-weight: lighter;
}
.secundario div{
    
	width: 33%;
	padding: 2%;
	text-align: center;
}

.perso_index div{
    
	width: 33%;
	padding: 2%;
	text-align: center;
}
.titulo{
    font-size: 50;
    font-weight: bold;
    padding-bottom: 1%;
}
.imagen{
    display: block;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}
.detalle{
    justify-content: right;
    display: inline-block;
    width: 72%; 
}
input{
    width: 18rem;
    padding: 1%;
    margin: 1%;
    display: block;
}
textarea{
    padding: 1%;
    margin: 1%;
}
.enviar{
    margin-left: 6%;
    width: 6rem;
    background-color: burlywood;
 
}

.enviar:hover{
    background-color:rgb(240, 177, 95);
    font-weight: 600;
}

form p{
    display: inline-block;
    display: block;
}
form{
    padding-top: 2%;
    display: inline-block;
    padding: 1%;
    justify-items: left;
}
form div{
    padding-left: 5%;
    display: flex;
    display: block;
}
.imacontacto{
    padding-top: 5%;
    width: 50%;
    margin-left: 2%;
}
.pelis{
    width: 30%;
}

.galeria{
    text-align: center;
 
}

.galeria a img{
  
    width: 280px;
    height: 200px;
}

.galeria img:hover{
   transform: scale(1.2);
   border-style: solid;
   border-width: 5px;
   border-color:rgb(240, 177, 95); ;
}

.datos{
    display:none;
}

.icon{
    display: none;
}

.datos img{
    display: inline-block;
    max-width: 240px;
    max-height: 240px;
}
.irarriba{
    display:none;
    position:fixed;
    width: 50px;
    height: 50px;
    background-color: burlywood;
    bottom: 40px;
    right: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    color: black;
    font-size: 22;
}
.irarriba:hover{
    transform: scale(1.1);
    background-color: rgb(240, 177, 95);
    font-size: 30;
}
.nueva-clase{
    display:block;
}



@media  (max-width: 480px){
    header{
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: burlywood;
        top: 0;
        z-index: 1;
    }
    header img{
        width: 75%;
        height: auto;
    }

    header nav {
        flex-basis: 100%;
    }
    .icon {
        align-items: right;
        display: inline-block;
        padding-right: 7.5%;
        text-align: right;
    }
    nav ul li ul{
        display:none;
        position: absolute;
        min-width: 140px;
        list-style: none;
        margin-top: 1.7rem;
     
    }
  
    nav ul {
        display: none;
    }
    nav.responsive ul {
        display: block;
        list-style: none;
   

    }
  
    nav.responsive ul li {
        display: block;
        text-align:center;
        justify-content: center;
        margin-left: 70%;
        padding: 0.5rem;
      
    }

    nav.responsive ul li ul{
        display: none;
        list-style: none;
      
        position: relative;
     
        margin-top: 2%;
        margin-left: 0;
        padding-left: 0;

    }
    nav ul li ul{
        display: none;
        max-width: 120px;
        list-style: none;
        margin-top: 1.7rem;
         


    }
     

    nav.responsive ul li ul.responsive {
        display: block;
        list-style: none;
        text-align: left;
        

    }
  
    nav.responsive ul li ul.responsive li  {
        display: block;
        margin-top: 0;
        margin-left: 0;
      
    }


 

    section{
        max-width: 480px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .bloque{
        display: block;
        width: 100%;
        text-align: center;
    }
    section.datos div.bloque{
        display: block;
        text-align: center;
    }
    section.datos div.bloque  img{
        width: auto;
        height: auto;
     
    }

    .bloque img{
        width: 95%;
    }
    .descripcion {
        display: block;
        justify-content: left;
        width: 95%;
        padding-left: 5%;
        padding-bottom: 100px;
    }
    .grilla{
        text-align: center;
    }

    .secundario{
        text-align: center ;
        margin-top: 1%;
        width: 100%;
    }
    .secundario div{
        display: inline-block;
        max-width: 50%;
    }
    .secundario div img{
        width: 100%;
    }
    .perso_index{
        display: block;
        text-align: center ;
        margin-top: 1%;
        width: 80%;
    }
    
    .perso_index div{
        display: block;
        width: 100%;
    }
 
 

 
    h2{
        font-size: 1.2rem;
    }

    .imacontacto{
        width: 95%;
    }

   
    footer{
        display: block;
        text-align: center;
    }
    footer  p{
        display: block;
    }
    footer a{
        display:inline-block;
        align-items:center;
        padding-left: 2%;
        margin-left: 8%;
    }

    .galeria{
      padding-left: 5%;
      padding-bottom: 5%;
     
    }
    
    .galeria a img{
        max-width: 150px;
        max-height: 150px;
    }


   

    }