*{  
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}

body{
    background-image: url("fondo.webp");
    background-repeat:no-repeat ;
    background-attachment: fixed;
    font-family: 'agdasima',sans-serif;
    font-size: 20;
 
  
}
section div{
    display: inline-block;   
    padding: 1%;
}

nav{
    font-weight: bold;
}

nav div{
    display: inline-block;
    padding: 1%;
 
}

nav ul{
  
    display: flex;
 
    margin-left: 3%;
}
nav ul li{
    background-color:burlywood;
    display:flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1.2rem;
    padding-right: 2rem;
    text-transform: uppercase;
}

nav  ul li a:hover{
 
    text-decoration: underline;
    font-weight: 800;
}
nav ul li ul{
    display:none;
    position: absolute;
    min-width: 170px;
    list-style: none;
    margin-top: 1.7rem;
 
}
nav li:hover ul {
    display:block;
 
}
nav ul li ul li:hover{
    background-color:rgb(240, 177, 95);
}

a{
    text-decoration: none;
    color: black;
}
header {
   
   
	padding-right: 7%;
	
	padding-left: 7%;
	display: flex;
    align-items: center;
	justify-content: space-between;
    font-family:'Grenze Gotisch',sans-serif;
    color: black;
    background-color:burlywood;

}
article{
    margin-left: 8%;
    margin-right: 8%;
    background-color:rgb(255, 255, 255);
}
h1{
    font-family:'Grenze Gotisch',sans-serif;
    color: black;
    text-align:center;
    font-weight: bold;
    font-size: 28;
    margin-left: 8%;
    margin-right: 8%;

    background-color: rgb(255, 255, 255);

}
h2{
    font-family:'Grenze Gotisch',sans-serif;
}
.izq{
    margin-bottom: 0.9%;
    padding-left: 1%;
    padding-right: 3%;
    justify-content: left;
}
.der{
    text-align: right;
    padding-left: 3%;
    padding-right: 1%;
    justify-content: right;
}
section{
    justify-content: center;
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 1%;
    
    
}
.centro{
    padding-bottom: 5%;
    text-align: center;
}
footer{
    
    margin-top: 2%;
    display: flex;
    background-color:rgb(0, 34, 3);
    justify-content: center;
    align-items: center;
    color: white;

}


footer p {
    font-size: 0.8rem;
    padding-right: 2rem;
    padding-top: 1%;
    display: inline-block;
}

footer div{
    width:100% ;
}
footer a{
    display: inline-block;
 
    padding-right: 2%;
    padding-top: 1.2%;
    padding-left: 2%;
}



.grilla{
    justify-content: center;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    background-color: white;
    padding: 3%;
   
    
    
}
.separado{
    padding: 1%;
    
}
.bloque{
    display: inline-block;
    width: 25%;
    padding-top: 5%;
 
    padding: 1%;
}

.descripcion{
   
    justify-content: right;
    padding-top: 5%;
    padding-left: 2%;
    display: inline-block;
    width: 72%;
    font-weight: lighter;
}
.secundario div{
    
	width: 33%;
	padding: 2%;
	text-align: center;
}
.titulo{
    font-size: 50;
    font-weight: bold;
    padding-bottom: 1%;
}
.imagen{
    display: block;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}
.detalle{
    justify-content: right;
    display: inline-block;
    width: 72%; 
}
input{
    width: 18rem;
    padding: 1%;
    margin: 1%;
    display: block;
}
textarea{
    padding: 1%;
    margin: 1%;
}
.enviar{
    margin-left: 6%;
    width: 6rem;
    background-color: burlywood;
 
}

.enviar:hover{
    background-color:rgb(240, 177, 95);
    font-weight: 600;
}

form p{
    display: inline-block;
    display: block;
}
form{
    padding-top: 2%;
    display: inline-block;
    padding: 1%;
    justify-items: left;
}
form div{
    padding-left: 5%;
    display: flex;
    display: block;
}
.imacontacto{
    padding-top: 5%;
    width: 50%;
    margin-left: 2%;
}
.pelis{
    width: 30%;
}

.galeria{
    text-align: center;
 
}

.galeria a img{
    max-width: 300px;
    max-height: 300px;
}

.galeria img:hover{
   transform: scale(1.3);
}

